.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo > img{
    width: 200px;
}
.header__right{
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.header__logo{
    flex: 0.5;
}

.header__right > p:hover{
    color: #A1A7F7;
    cursor: pointer;
}